<mat-table [dataSource]="players" class="mat-elevation-z8 table-margin-padding">
  <!-- Leader -->
<ng-container matColumnDef="leader">
  <mat-header-cell *matHeaderCellDef> Leader </mat-header-cell>
  <mat-cell *matCellDef="let player"> 
    <mat-checkbox [(ngModel)]="player.isLeader" disabled="disabled">
  </mat-checkbox> 
</mat-cell>
</ng-container>

<!-- Name Column -->
<ng-container matColumnDef="name">
  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
  <mat-cell *matCellDef="let player"> {{player.userName}} </mat-cell>
</ng-container>

  <!-- Ready -->
<ng-container matColumnDef="onMission">
  <mat-header-cell *matHeaderCellDef> On Mission </mat-header-cell>
  <mat-cell *matCellDef="let player"> 
    <mat-checkbox [(ngModel)]="player.isGoingOnAMission" [disabled]="!checkboxEnabled(player)" (change)="readyClicked($event, player)">
  </mat-checkbox> 
</mat-cell>
</ng-container>

<!-- VoteValue -->
<ng-container matColumnDef="voteValue">
    <mat-header-cell *matHeaderCellDef> Vote Value </mat-header-cell>
    <mat-cell *matCellDef="let player"> 
      <span *ngIf="player.hasVoted">{{player.voteValue ? 'Agree' : 'Disagree'}}
      </span>
      <span *ngIf="!player.hasVoted">Not Voted</span>
  </mat-cell>
  </ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-table [dataSource]="missions" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let mission">{{mission.id}}</mat-cell>
  </ng-container>
  
  <!-- NumberOfCompanions -->
  <ng-container matColumnDef="numberOfCompanions">
      <mat-header-cell *matHeaderCellDef>Companions</mat-header-cell>
      <mat-cell *matCellDef="let mission">{{mission.numberOfCompanions}}</mat-cell>
    </ng-container>
  
    <!-- NumberOfFailsToFailMission -->
  <ng-container matColumnDef="numberOfFailsToFailMission">
    <mat-header-cell *matHeaderCellDef>Fails</mat-header-cell>
    <mat-cell *matCellDef="let mission">{{mission.numberOfFailsToFailMission}}</mat-cell>
  </ng-container>

  <!-- IsSuccess -->
  <ng-container matColumnDef="missionSuccess">
      <mat-header-cell *matHeaderCellDef>Success</mat-header-cell>
      <mat-cell *matCellDef="let mission"> 
        <span *ngIf="mission.isSuccess != null">{{mission.isSuccess ? '+' : '-'}}</span>
    </mat-cell>
  </ng-container>
  
  <mat-header-row *matHeaderRowDef="missionDisplayedColumns"></mat-header-row>
  <mat-row [ngClass]="{'highlight': (currentMission + 1) == row.id}" *matRowDef="let row; columns: missionDisplayedColumns;"></mat-row>
  </mat-table>

<div *ngIf="!playerVoted()">
  <p>You haven't voted yet !!</p>
  <button mat-raised-button class="mat-primary" (click)="openCompanionVoteDialog()">Vote For Team</button>
</div>
<button mat-raised-button *ngIf="isPlayerALeader()" [disabled]="afterSelectingCompanions || !IsVoteButtonActive" mat-button class="mat-primary" (click)="confirmTeam()">Vote</button>
<button mat-raised-button (click)="openViewCardDialog()" class="mat-primary">View Card</button>