<form #avalonForm="ngForm" (ngSubmit)="createRoom()">
    <p>Room Setup</p>
    <div class="flex-center">
        <mat-form-field>
            <input [(ngModel)]="room.name" required matInput placeholder="RoomName" value="Your Room" name="roomName"> 
        </mat-form-field>
        <div>
        <p>Number of Players</p>
            <mat-slider min="2" max="10" name="playersNumber" [(ngModel)] = "room.campaign.numberOfPlayers">
            </mat-slider> {{ room.campaign.numberOfPlayers }}
        </div>
        <button type="button" mat-raised-button (click)="setDefaultCampaign()" class="mat-primary">Set Default Campaign</button>
    <mat-accordion>
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>General</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-card>
                    <mat-card-content>
                        <div>
                            <p>Number of Normal Good</p>
                            <mat-slider min="1" max="6" name="normalGoodPlayers" #goodNumber [(ngModel)] = "room.campaign.numberOfGood">
                            </mat-slider> {{room.campaign.numberOfGood}}
                        </div>
                        <div>
                            <p>Number of Normal Evil</p>
                            <mat-slider min="1" max="4" name="normalEvilPlayers" #evilNumber [(ngModel)] = "room.campaign.numberOfEvil">
                            </mat-slider> {{room.campaign.numberOfEvil}}
                        </div>
                    </mat-card-content>
                </mat-card>     
            </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Special Characters</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
                <mat-card-content>
                    <mat-selection-list name="specialCharacters" [(ngModel)]="room.campaign.specialCharactersIds">
                        <mat-list-option *ngFor="let specialCharacter of specialCharacters" [value]="specialCharacter.id" [selected]="room.campaign.specialCharactersIds.indexOf(specialCharacter.id) >= 0">
                        {{ specialCharacter.name }} - {{ specialCharacter.description}}
                        </mat-list-option>
                        </mat-selection-list>
                </mat-card-content>
            </mat-card>     
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                    <mat-panel-title>Campaign</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
                <mat-card-content>
                <p>Campaign</p>
                <p> Total number Of players : {{ this.room.campaign.numberOfPlayers}}</p>
                <p> Total number of Mordred's minions : {{ this.room.campaign.recommendedMordredMinions}}</p>
                <mat-table [dataSource]="this.room.campaign.missions" class="mat-elevation-z8" style="width:400px; margin:auto">
                    
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>Mission Number</mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;">{{i+1}}</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="companions">
                    <mat-header-cell *matHeaderCellDef>Companions</mat-header-cell>
                    <mat-cell *matCellDef="let mission"> 
                        <div>
                            <button mat-button style="width:40px;height:40px" (click)="decreaseCompanions(mission)">-</button>
                                {{mission.numberOfCompanions}}
                            <button mat-button style="width:40px;height:40px" (click)="increaseCompanions(mission)">+</button>
                        </div>
                    </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="failures">
                    <mat-header-cell *matHeaderCellDef>Fails</mat-header-cell>
                    <mat-cell *matCellDef="let mission">
                        <div>
                            <button type="button" mat-button (click)="decreaseFailures(mission)">-</button>
                                {{mission.numberOfFailsToFailMission}}
                            <button type="button" mat-button (click)="increaseFailures(mission)">+</button>
                        </div>
                    </mat-cell>
                </ng-container>
                
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </mat-card-content>
        </mat-card>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                    <mat-panel-title>Add-ons</mat-panel-title>
            </mat-expansion-panel-header>
        <mat-card>
            <div>
                <mat-checkbox name="excaliburEnabled" [(ngModel)]="room.campaign.excaliburEnabled">Excalibur Enabled</mat-checkbox>
            </div>
            <div>
                <mat-checkbox name="ladyOfTheLakeEnabled" [(ngModel)]="room.campaign.ladyOfTheLakeEnabled">Lady Of The Lake Enabled</mat-checkbox>
            </div>
        </mat-card>
        </mat-expansion-panel>
    </mat-accordion>

    <p>Total number of players: {{room.campaign.numberOfPlayers}}</p>
    <p>Good Characters: {{room.campaign.numberOfGood}}</p>
    <p>Evil Characters: {{room.campaign.numberOfEvil}}</p>
    <p>Missions: <span *ngFor="let mission of room.campaign.missions">{{mission.numberOfFailsToFailMission}}/{{mission.numberOfCompanions}} </span></p>
    <p *ngIf="room.campaign.specialCharactersIds?.length">Special Characters: <span *ngFor="let charId of room.campaign.specialCharactersIds">{{getCharacterCardName(charId)}} </span></p>
    <p *ngIf="room.campaign.excaliburEnabled">Excalibur enabled</p>
    <p *ngIf="room.campaign.ladyOfTheLakeEnabled">Lady Of The Lake enabled</p>
    <div>
        <button mat-raised-button (click)="goBack()" class="bright-purple-background">Back</button>
        <button [disabled]="avalonForm.form.invalid" type="submit" mat-raised-button class="mat-primary">Create New Room</button>
    </div>
</div>
</form>