<div class="flex-center">
<div *ngIf="availableRooms.length == 0">
    <p style="color:red">
        There are no available rooms... Create one!
    </p>
</div>
<div *ngIf="availableRooms.length > 0">
    <p>Available Rooms :</p>
    <div *ngFor="let room of availableRooms" style="margin-top:20px">
        <button [disabled]="room.current === room.total" mat-raised-button (click)="joinRoom(room.roomId)">{{room.roomId}} {{room.current}}/{{room.total}}</button>
    </div>
</div>
<div style="margin-top: 20px;">
    <button mat-raised-button (click)="createRoom()" class="mat-primary">Create New Room</button>
</div>
<div style="margin-top: 20px;">
    <button mat-raised-button (click)="goBack()" class="bright-purple-background">Back</button>
</div>

</div>