<div class="flex-column">
  <mat-table [dataSource]="players" class="mat-elevation-z8" style="width: 100%">
      
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index;">{{i+1}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.userName}} </mat-cell>
    </ng-container>

    <!-- Ready -->
    <ng-container matColumnDef="ready">
        <mat-header-cell *matHeaderCellDef> Ready </mat-header-cell>
        <mat-cell *matCellDef="let player"> 
          <mat-checkbox [(ngModel)]="player.ready" disabled="disabled">
        </mat-checkbox> 
      </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <button style="margin-top: 20px;" class="lower-distance-from-button mat-primary" mat-raised-button (click)="readyClicked()">{{!ready ? 'Ready' : 'Not Ready'}}</button>
  <button class="lower-distance-from-button mat-primary" mat-raised-button (click)="requestStartGame()" [disabled]="!isStartActive()">Start Game</button>
  <button mat-raised-button (click)="goBack()" class="bright-purple-background">Back</button> 
</div>