<form #avalonForm="ngForm">
    <div class="flex-column div-space-between">
        <div class="flex-horizontal full-width">
            <mat-form-field class="full-width">
                <input [(ngModel)]="room.name" required matInput placeholder="Enter room name" value="Your Room" name="roomName"> 
            </mat-form-field>
        </div>
        <div class="flex-column full-width green-background">
            <div class="slider-label">{{ room.campaign.numberOfPlayers }} Players</div>
            <mat-slider class="full-width" min="2" max="10" name="playersNumber" [(ngModel)] = "room.campaign.numberOfPlayers">
            </mat-slider>
        </div>
        <button type="button" (click)="setDefaultCampaign()" mat-raised-button class="mat-primary lower-distance-from-button">Set Default Campaign</button>
    <div>
        <mat-accordion>
            <mat-expansion-panel class="green-background">
                    <mat-expansion-panel-header>
                        <mat-panel-title>General</mat-panel-title>
                    </mat-expansion-panel-header>
                        <div class="flex-column full-width green-background slider-label padding-top">
                            <p>Good players: {{room.campaign.numberOfGood}}</p>
                            <mat-slider min="1" max="6" name="normalGoodPlayers" #goodNumber [(ngModel)] = "room.campaign.numberOfGood">
                            </mat-slider> 
                        </div>
                        <div class="flex-column full-width green-background slider-label padding-top">
                            <p>Evil Players {{room.campaign.numberOfEvil}}</p>
                            <mat-slider min="1" max="4" name="normalEvilPlayers" #evilNumber [(ngModel)] = "room.campaign.numberOfEvil">
                            </mat-slider> 
                        </div>
                </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Special Characters</mat-panel-title>
                </mat-expansion-panel-header>
                    <mat-selection-list name="specialCharacters">
                        <mat-list-option *ngFor="let specialCharacter of specialCharacters" [value]="specialCharacter.id" [selected]="room.campaign.specialCharactersIds.indexOf(specialCharacter.id) >= 0">
                        {{ specialCharacter.name }} - {{ specialCharacter.description}}
                        </mat-list-option>
                    </mat-selection-list>
            </mat-expansion-panel>
            <mat-expansion-panel class="mission-table">
                <mat-expansion-panel-header>
                        <mat-panel-title>Mission Details</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-table [dataSource]="this.room.campaign.missions" class="mat-elevation-z8">
                    
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>Mission Number</mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;">{{i+1}}</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="companions">
                    <mat-header-cell *matHeaderCellDef>Companions</mat-header-cell>
                    <mat-cell *matCellDef="let mission"> 
                        <div>
                            <button mat-button style="width:40px;height:40px" (click)="decreaseCompanions(mission)">-</button>
                                {{mission.numberOfCompanions}}
                            <button mat-button style="width:40px;height:40px" (click)="increaseCompanions(mission)">+</button>
                        </div>
                        </mat-cell>
                    </ng-container>
                    
                    <ng-container matColumnDef="failures">
                        <mat-header-cell *matHeaderCellDef>Fails</mat-header-cell>
                        <mat-cell *matCellDef="let mission">
                            <div>
                                <button type="button" mat-button (click)="decreaseFailures(mission)">-</button>
                                    {{mission.numberOfFailsToFailMission}}
                                <button type="button" mat-button (click)="increaseFailures(mission)">+</button>
                            </div>
                        </mat-cell>
                    </ng-container>
                    
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Add-ons</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-selection-list name="specialAddons">
                    <mat-list-option name="excaliburEnabled" (click)="toggleExcalibur()" [selected]="room.campaign.excaliburEnabled">Excalibur</mat-list-option>
                    <mat-list-option name="ladyOfTheLakeEnabled" (click)="toggleLadyOfTheLake()" [selected]="room.campaign.ladyOfTheLakeEnabled">Lady Of The Lake</mat-list-option>
                </mat-selection-list>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="flex-column">
        <button [disabled]="avalonForm.form.invalid" type="button" (click)="openRoomSummary()" mat-raised-button class="mat-primary lower-distance-from-button">Create New Room</button>
        <button mat-raised-button (click)="goBack()" class="bright-purple-background">Back</button>
    </div>
</div>
</form>